<div class="container-fluid container-agendamentos">
  <div class="container-agendamentos-list">
    <mat-card *ngFor="let agendamento of agendamentos">
      <mat-card-header>
        <h2>Barbeiro: {{agendamento.cabeleireiro.nome}}</h2>
      </mat-card-header>
      <div class="container-info-agendamento">
        <div class="container-data-hora">
          <div class="container-data">
            <div class="container-dia-da-semana">
              {{diasDaSemana[agendamento.dataAgendamento.getDay()]}}
            </div>
            <div class="container-data-agendanda">
              {{formatarData(agendamento.dataAgendamento)}}
            </div>
          </div>

          <div class="container-hora">
            {{agendamento.horario.hora}}h
          </div>
        </div>

        <div class="container-info-servicos">
          <div class="container-list-service">
            <ul>
              <li *ngFor="let servico of agendamento.servicos">
                <mat-icon style="margin-right: 5px;">content_cut</mat-icon>
                <div class="container-detalhe-servicos">
                  <div>
                    {{servico.nome}}
                  </div>

                  <div class="container-valor-item">
                    <span>R$</span> {{servico.valor}}
                  </div>
                </div>
              </li>

            </ul>
          </div>

          <div class="container-valor-tempo">
            <div class="container-valor">
              <div>Valor Total</div>
              <div>
                R$ {{agendamento.totalServicos()}}
              </div>
            </div>

            <div class="container-tempo">

              <div class="container-time">
                <mat-icon style="margin-right: 3px;">schedule</mat-icon>
                {{agendamento.totalTempoServicos()}} min
              </div>
            </div>


          </div>
        </div>
      </div>


    </mat-card>



  </div>
  <a mat-mini-fab color="primary" href="novo-agendamento" class="btn-adicionar-agendamento">
    <mat-icon>add</mat-icon>
  </a>

</div>
