<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="menu" >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink=""  (click)="alterarTituloToolbar('Home')">
      <mat-icon color="primary">home</mat-icon>
      <span>Home</span>
    </button>
    <button  routerLink="agendamentos" routerLink="agendamentos"  mat-menu-item (click)="alterarTituloToolbar('Agendamentos')">
      <mat-icon color="">calendar_month</mat-icon>
      <span>Agendamentos</span>
    </button>
    <button mat-menu-item routerLink="novo-agendamento" (click)="alterarTituloToolbar('Novo Agendamento')">
      <mat-icon style="color: green;">add</mat-icon>
      <span>Novo Agendamento</span>
    </button>
    
  </mat-menu>
  <span>{{titulo}}</span>
</mat-toolbar>


<router-outlet></router-outlet>
