.container-agendamentos{
  width: 100vw;
}
.mat-typography{
  padding: 0px;
}

.content-container{
  border: 1px solid darkgray;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.2em;
}
.container_content_intern{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.sub_title{
  margin-bottom: 10px;
}
.destaque{
  font-weight: 600;
  color: rgb(82, 82, 82);
}
.container-hora{
  font-size: 20px;
}
.column-intern{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_time{
  display: flex;
}