<div class="dialog-container">
  <h2 mat-dialog-title>Confirmar Agendamento</h2>
  <mat-dialog-content class="mat-typography">
    <mat-card>
      <mat-card-header>
        <h2><span class="destaque">Barbeiro: </span> {{data.cabeleireiro.nome}}</h2>
      </mat-card-header>
      <div class="container-info-agendamento">
        <div class="container-data-hora">
          <div class="container-data">
            <div class="container-dia-da-semana destaque">{{dataSemana}}</div>
            <div class="container-data-agendanda">{{dataFormatada}}</div>
          </div>

          <div class="container-hora destaque">{{data.horario.hora}}<span>h</span></div>
        </div>

        <div class="container-info-servicos">
          <div class="container-list-service">
            <ul>
              <li *ngFor="let servico of data.servicos">
                <mat-icon style="margin-right: 5px">content_cut</mat-icon>
                <div class="container-detalhe-servicos">
                  <div>{{servico.nome}}</div>

                  <div class="container-valor-item"><span>R$</span>{{servico.valor}}</div>
                </div>
              </li>

              
            </ul>
          </div>

          <div class="container-valor-tempo">
            <div class="container-valor">
              <div class="destaque">Valor Total</div>
              <div>R$ {{data.totalServicos()}},00</div>
            </div>

            <div class="container-valor">
              <div class="destaque">Tempo Total</div>
              <div class="container-time">
                <mat-icon style="margin-right: 3px;">schedule</mat-icon>
                0{{data.totalTempoServicos()}} hrs</div>
            </div>

          </div>

          <div>
            <div><span class="destaque">Tel: </span> {{telFormatado}} </div>
          </div>
        </div>
      </div>
    </mat-card>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial (click)="confirmarAgendamento()">
      Confirmar
    </button>
  </mat-dialog-actions>
</div>
