<div class="dialog-container">
    <h2 mat-dialog-title>Agendamento Confirmado</h2>
    <mat-dialog-content class="mat-typography">

        <div class="conatiner-info">
          <div>
            <mat-icon style="color: green;">task_alt</mat-icon>
          </div>
          <div>Agendamento Finalizado.</div>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
        Visualizar
      </button>
    </mat-dialog-actions>
  </div>
   