<mat-stepper orientation="vertical"  #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Selecione o Barbeiro</ng-template>

      <mat-radio-group class="container-radio-button" aria-labelledby="example-radio-group-label">
        <mat-radio-button value="1">
          <div class="container-barbeiro">
            <img src="../../../assets/images/teste.jpg" class="rounded-circle img-responsive" alt="Teste">
            <p>Ademilson</p>
          </div>
        </mat-radio-button>

        <mat-radio-button value="2">
          <div class="container-barbeiro">
            <img src="../../../assets/images/teste.jpg" class="rounded-circle img-responsive" alt="Teste">
            <p>Matheus</p>
          </div>
        </mat-radio-button>
      </mat-radio-group>

      <div>
        <button mat-button matStepperNext class="btn-proximo">Proximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Selecione os Serviços</ng-template>
      <ul>
        <li>
          <mat-checkbox color="primary">
            <mat-card>
              <mat-card-content class="titulo-card-servico">
                <mat-icon>content_cut</mat-icon> Teste
              </mat-card-content>

              desc
            </mat-card>
          </mat-checkbox>
        </li>
      </ul>

      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext class="btn-proximo">Proximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
