<mat-stepper orientation="vertical"  #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Selecione o Barbeiro</ng-template>

      <mat-radio-group class="container-radio-button" aria-labelledby="example-radio-group-label">
        <mat-radio-button value="1">
          <div class="container-barbeiro">
            <img src="https://drive.google.com/uc?id=16HxkOezcFZl5cI38y-XEKuruV3AJ0Vx5" class="rounded-circle img-responsive" alt="Teste">
            <p>Ademilson</p>
          </div>
        </mat-radio-button>

        <mat-radio-button value="2">
          <div class="container-barbeiro">
            <img src="https://drive.google.com/uc?id=16HxkOezcFZl5cI38y-XEKuruV3AJ0Vx5" class="rounded-circle img-responsive">
            <p>Matheus</p>
          </div>
        </mat-radio-button>
      </mat-radio-group>

      <div>
        <button mat-button matStepperNext class="btn-proximo">Proximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Selecione os Serviços</ng-template>
      <ul>
        <li>
          <mat-checkbox color="primary">
            <mat-card>
              <mat-card-content class="titulo-card-servico">
                <mat-icon>content_cut</mat-icon> Corte Degradê
              </mat-card-content>

              <div class="container-info-servicos">
                <div class="container-time-money">
                  <mat-icon>schedule</mat-icon>
                  30 min
                </div>

                <div class="container-time-money">
                  <mat-icon>attach_money</mat-icon>
                  30,00
                </div>
              </div>
            </mat-card>
          </mat-checkbox>
        </li>

        <li>
          <mat-checkbox color="primary">
            <mat-card>
              <mat-card-content class="titulo-card-servico">
                <mat-icon>content_cut</mat-icon> Corte Maquina
              </mat-card-content>

              <div class="container-info-servicos">
                <div class="container-time-money">
                  <mat-icon>schedule</mat-icon>
                  20 min
                </div>

                <div class="container-time-money">
                  <mat-icon>attach_money</mat-icon>
                  20,00
                </div>
              </div>
            </mat-card>
          </mat-checkbox>
        </li>

        <li>
          <mat-checkbox color="primary">
            <mat-card>
              <mat-card-content class="titulo-card-servico">
                <mat-icon>content_cut</mat-icon> Barba
              </mat-card-content>

              <div class="container-info-servicos">
                <div class="container-time-money">
                  <mat-icon>schedule</mat-icon>
                  20 min
                </div>

                <div class="container-time-money">
                  <mat-icon>attach_money</mat-icon>
                  15,00
                </div>
              </div>
            </mat-card>
          </mat-checkbox>
        </li>

        <li>
          <mat-checkbox color="primary">
            <mat-card>
              <mat-card-content class="titulo-card-servico">
                <mat-icon>content_cut</mat-icon> Progressiva
              </mat-card-content>

              <div class="container-info-servicos">
                <div class="container-time-money">
                  <mat-icon>schedule</mat-icon>
                  1:30h
                </div>

                <div class="container-time-money">
                  <mat-icon>attach_money</mat-icon>
                  90,00
                </div>
              </div>
            </mat-card>
          </mat-checkbox>
        </li>
      </ul>

      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext class="btn-proximo">Proximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Selecione o Horario</ng-template>

    <div class="containerHorario">
      <h3>{{diaSemana}}</h3>
      <mat-form-field class="containerInputDate">
        <input matInput  [matDatepicker]="picker" placeholder="Escolha uma data"
          (dateChange)="updateDayOfWeek($event.value)" [value]="dataAgenda">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="containerListHorariosDisponiveis">
      <mat-card (click)="alertaTeste()">
        <mat-card-content>Disponivel</mat-card-content>
        <div class="container-info-hora-disponivel">

          <div class="containerDataHoraDisponivel">
            <span>
              Segunda-Feira
            </span>
            <span>
              15/10/2023
            </span>
          </div>

          <div class="horaDisponivel">
            08:00
          </div>

        </div>
      </mat-card>

      <mat-card>
        <mat-card-content>Disponivel</mat-card-content>
        <div class="container-info-hora-disponivel">

          <div class="containerDataHoraDisponivel">
            <span>
              Segunda-Feira
            </span>
            <span>
              15/10/2023
            </span>
          </div>

          <div class="horaDisponivel">
            09:00
          </div>

        </div>
      </mat-card>

      <mat-card>
        <mat-card-content>Disponivel</mat-card-content>
        <div class="container-info-hora-disponivel">

          <div class="containerDataHoraDisponivel">
            <span>
              Segunda-Feira
            </span>
            <span>
              15/10/2023
            </span>
          </div>

          <div class="horaDisponivel">
            10:00
          </div>

        </div>
      </mat-card>

      <mat-card>
        <mat-card-content>Disponivel</mat-card-content>
        <div class="container-info-hora-disponivel">

          <div class="containerDataHoraDisponivel">
            <span>
              Segunda-Feira
            </span>
            <span>
              15/10/2023
            </span>
          </div>

          <div class="horaDisponivel">
            10:30
          </div>

        </div>
      </mat-card>
    </div>

    <div>
      <button mat-button matStepperPrevious>Voltar</button>
    </div>
  </mat-step>
</mat-stepper>
